
<html>
{% load static %}
<head>

    <!--Import Google Icon Font-->
    {#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    <script type="text/css" src="{% static 'admin/css/icons.css' %}">
    </script>
    <LINK href="/static/admin/css/style.css" rel="stylesheet" type="text/css">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"
          media="screen,projection"/>
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}">
    </script>
    {#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"#}
    {#            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
    {#            crossorigin="anonymous"></script>#}
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}">
    </script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
{#{% include 'logout.html' %}#}
<!--JavaScript at end of body for optimized loading-->

<script type="text/javascript" src="{% static 'js/home.js' %}"></script>


  <p hidden>Token:</p><input type="hidden" id="token"  value="{{ Encoded }}">

        <div class="wrap">
            <div class="floatright" id="new_div">
            </div>
            <div  class="floatleft center">
                <a href="/todo/login_login/" class="white-text" id="btnn"><u>Logout</u></a><br>

                {#         <li><a href="/todo/login_login/" class="lg">Logout</a></li>#}
                <h5 id="tdp center">TODO PROJECT</h5>
{#                <a href="" class="btn" id="tdp">TODO PROJECT</a>#}

                <a onclick="showTodoList()" class=" btn" id="tdl" >Todo List</a>
                <p class="crght" >© 2018 Copyright Text</p>

            </div>
        </div>


</body>
</html>
{#{% include 'base.html' %}#}