<head>
    <LINK href="/static/admin/css/style.css" rel="stylesheet" type="text/css">
</head>
{% if  Success %}
    {% if Bjson == None %}
         {% if Type == -1 %}
             <p>No todos </p>

           {% endif %}
        {% endif %}
{% endif %}

{#     {% if Type != 1 %}#}
     <div class="col s12 m6">
     {% for i in Bjson %}
      <div class="card blue-grey darken-1">

        <div class="card-content white-text">
{#          <span class="card-title"></span>#}
          <p><table class="white-text" >
            <p class="table_title">{{ i.Title  }}</p>
            <p class="table_desc">{{ i.Desc }}</p>
         <tr class="table_due"><td>Duedate:</td><td>{{ i.Duedate }}</td></tr>
        <tr class="table_created"><td>Created Date:</td><td>{{ i.Cdate }}</td></tr>
            {% if Type == 1 %}

             <tr class="table_created"><td>Completed Date:</td><td>{{ i.Compldate }}</td></tr>
            {% endif %}





</div>
</table></p>
      {% if Type != 1 %}
          <div class="wrapper">

            <button class="btn center green darken-4" id="completedbtn" type="submit" name="action"
            onclick="click5({{ Type }},{{ i.ID }})">Complete
</button>
    </div>
      {% endif %}
    </div>
     {% endfor %}
     </div>



{#          <div class="col s12 m6">#}
{#      <div class="card blue-grey darken-1">#}
{#        <div class="card-content white-text">#}
{#          <span class="card-title"></span>#}
{#          <p><table class="white-text" >#}
{#            <p class="table_title">{{ i.Title  }}</p>#}
{#            <p class="table_desc">{{ i.Desc }}</p>#}
{#         <tr class="table_due"><td>Duedate:</td><td>{{ i.Duedate }}</td></tr>#}
{#        <tr class="table_created"><td>Completed Date:</td><td>{{ i.Compldate }}</td></tr>#}
{#      </div>#}
{#</table></p>#}
{#    </div>#}
{#     </div>#}


{#{% endif %}#}
{##}
{#{% endfor %}#}
