
{% load static %}
{#<script type="text/javascript" src="{% static 'js/to-do-list.js' %}"></script>#}
<script>
                   var count_overdues={{ Count_overdues  }};
                   {#alert(count_overdues);#}
                   var count_dues={{ Count_dues }};
                   alert(count_dues);
                    var a='{{ Flag }}';
                    var flag_home_notification;
                   {#var flag_home_notification={{ Flag }};#}

                   if (a === 'True')
                   {
                       flag_home_notification=true;

                   }else
                   {
                       flag_home_notification=false;
                   }
                   {#return flag_home_notification                #}
                   console.log(flag_home_notification);

                </script>
<script type="text/javascript" src="{% static 'js/to-do-list.js' %}"></script>

<div class="container" id="new_div">
    <script>var access_token='{{ Encoded }}';</script>
            <h4  align="center">Welcome to Home Page</h4>
            <!-- Modal Trigger -->
            <div class="row">
                <div class="col s12 right-align">
                    <button data-target="modal1" class="btn modal-trigger green darken-4">Create a New Todo</button>
                </div>
            </div>

    <div class="col s12 right-align ">
      <div class="card  green darken-4">
        <div class="card-content white-text">
          <span class="card-title">Notification</span>
          <p>You have<span id="total_overdues"></span> overdues</p>
        </div>

      </div>
    </div>


            <div class="row">
                <div class="col s12">
                    <ul class="tabs" id="tabs_todo">

                        <li class="tab col s3"onclick="updateTabContent(-1)"><a id="tab_-1" class="active " href="#">Overdue</a></li>

                        <li class="tab col s3"onclick="updateTabContent(0)"><a id="tab_0" href="#">Due</a></li>
                        <li class="tab col s3"onclick="updateTabContent(1)"><a id="tab_1" href="#">Completed</a></li>
                    </ul>

                </div>
                <label for="filter_date" >Select a Date</label>
                <input type="text" onchange="filterByDate()" id="filter_date" class="datepicker" >
                <div id="tab_content" class="col s12"> <div class="row">

                </div>
                </div>
            </div>
       <!-- Modal Structure -->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Changing status</h4>
                    <input type="hidden"  placeholder="Enter ID" id="modelid" name="id" value="">
                    <br/>
                    <input type="hidden"  placeholder="Enter Type" id="modeltype" name="type" value="">
                    <p>Are you sure you want to make this todo completed?</p>


                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                       onclick="click6()">Yes</a>
                </div>
            </div>

        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Creating a Todo</h4>
                Title:<input type="text"  placeholder="Enter Title" id="title" name="title"><br/>
                Description:<input type="text"  placeholder="Enter Description" id="desc"
                                   name="desc"><br/>
                Duedate:<input type="text" id="date" class="datepicker"/>
                <p hidden>Token:</p><input type="hidden" id="token"  value="{{ Token }}">

{#                <p hidden>Countoverdues:</p><input type="hidden" id="co"  value="{{ Count_overdues}}">#}
{#                <p hidden>Countdues:</p><input type="hidden" id="cd"  value="{{ Count_dues  }}">#}
{#                <p hidden>flag:</p><input type="hidden" id="flag"  value="{{ flag_home_notification }}">#}




            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                   onclick="creatingATodo()">Submit</a>
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>







{#{% include 'base.html' %}#}