
{% load static %}
<head>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"
          media="screen,projection"/>
     <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

{#<script type="text/javascript" src="{% static 'js/to-do-list.js' %}"></script>#}
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}">
    </script>

<script>
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd = '0'+dd
                }

                if(mm<10) {
                    mm = '0'+mm
                }

                today = mm + '/' + dd + '/' + yyyy;
               alert(today);
                   var count_overdues={{ Count_overdues  }};
                   {#alert(count_overdues);#}
                   var count_dues={{ Count_dues }};
                   {#alert(count_dues);#}
                    var a='{{ Flag }}';
                    var flag_home_notification;
                    localStorage.setItem("flag_home_notification", true);
                    localStorage.setItem("count_overdues", count_overdues);
                    localStorage.setItem("count_dues", count_dues);
                     localStorage.setItem("today", today );

                   if (a === 'True')
                   {
                       flag_home_notification=true;

                   }else
                   {
                       flag_home_notification=false;
                   }
                   alert(flag_home_notification);
                   {#return flag_home_notification                #}
                   console.log(flag_home_notification);

                </script>
<script type="text/javascript" src="{% static 'js/to-do-list.js' %}"></script>

<div class="container" id="new_div">
    <script>var access_token='{{ Encoded }}'</script>
            <h4  align="center">Welcome to Home Page</h4>
            <!-- Modal Trigger -->
            <div class="row">
                <div class="col s12 right-align">
                    <button data-target="modal1" class="btn modal-trigger green darken-4">Create a New Todo</button>
                </div>
            </div>


{#  <a href="#" data-target="slide-out" class="sidenav-trigger " id="nav_id">#}

    <div class="col s12 right-align " id="todo_notification">
      <div class="card  green darken-4">
          <a href="#" onclick="close_button()">
              <i class="material-icons">clear</i>
          </a>
        <div class="card-content white-text">
          <span class="card-title">Notification</span>
           <p>You have  <span id="total_overdues"></span>overdues</p>
          <p>You have  <span id="total_dues"></span>dues</p>
        </div>

      </div>
    </div> <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


            <div class="row">
                <div class="col s12">
                    <ul class="tabs" id="tabs_todo">

                        <li class="tab col s3" onclick="updateTabContent(-1)"><a id="tab_-1" class="active " href="#">Overdue</a></li>

                        <li class="tab col s3" onclick="updateTabContent(0)"><a id="tab_0" href="#">Due</a></li>
                        <li class="tab col s3" onclick="updateTabContent(1)"><a id="tab_1" href="#">Completed</a></li>
                    </ul>

                </div>
                <label for="filter_date" >Select a Date</label>
                <input type="text" onchange="filterByDate()" id="filter_date" class="datepicker" >
                <div id="tab_content" class="col s12"> <div class="row">

                </div>
                </div>
            </div>
       <!-- Modal Structure -->
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4>Changing status</h4>
                    <input type="hidden"  placeholder="Enter ID" id="modelid" name="id" value="">
                    <br/>
                    <input type="hidden"  placeholder="Enter Type" id="modeltype" name="type" value="">
                    <p>Are you sure you want to make this todo completed?</p>


                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                       onclick="click6()">Yes</a>
                </div>
            </div>

        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Creating a Todo</h4>
                Title:<input type="text"  placeholder="Enter Title" id="title" name="title"><br/>
                Description:<input type="text"  placeholder="Enter Description" id="desc"
                                   name="desc"><br/>
                Duedate:<input type="text" id="date" class="datepicker"/>
                <p hidden>Token:</p><input type="hidden" id="token"  value="{{ Token }}">

{#                <p hidden>Countoverdues:</p><input type="hidden" id="co"  value="{{ Count_overdues}}">#}
{#                <p hidden>Countdues:</p><input type="hidden" id="cd"  value="{{ Count_dues  }}">#}
{#                <p hidden>flag:</p><input type="hidden" id="flag"  value="{{ flag_home_notification }}">#}




            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                   onclick="creatingATodo()">Submit</a>
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>







{#{% include 'base.html' %}#}