
#login{
    text-align: center;
}
#login input{
    margin: 1em 0;
}
#loginn{
    position: absolute;
    bottom: 0px;
}
#button {
    color: white;
}
#upper {
    color: black;
}

footer{
    height: 150px;
}
body{
    background-color: #e2eaef;
}
#tabs_todo{
    color:#1b5e20;

}
.table_title{
    font-size: 24px;
     border-bottom: 1px solid white;
    margin-bottom:1px;

}
.table_desc{
    font-size:18px;
}

#completedbtn{
    justify-content: center;
    width: 100px;
    height: 40px;
}
#ftext{
    text-align: center;
}
.wrapper {
    text-align: center;
}
#filter_date{
    width: auto;
    align-content: center;
}
dues{
    text-align: center;
}
.wrap {

    width: 100%;

}
.floatleft {
    float:left;
    width: 20%;
    background-color: #1b5e20 ;
    /*padding: 10px;*/
    height: 100%;
}
#nav_id{
    display: none;
}
.floatright {
float: right;
    background-color:  #e2eaef;
    height: 100%;
    width: 80%;
}
@media only screen and (max-width: 810px) {
    .floatleft {
    width: 0;
   display: none;
}
    .floatright {
    width: 100%;
}
     #nav_id{
        display: block;
         position: absolute;
         margin-left: 15px;
         margin-top: 15px;
    }
}



#tdp1{
    /*margin-top: 20px;*/
    /*margin-left: 10px;*/
    /*margin-bottom: 20px;*/
    padding: 10px;
    display: block;
    /*color: white;*/
    width: 100%;
    /*font-size: medium;*/
    background-color: white;
    color: black;
    text-align: center;
}
.lg{
    color: white;
    font-size:larger;
}
#btnn{
    display: block;
    color: white;
    text-align: center;
    /*background-color: black;*/
    /*margin: 6px 8px;*/
    /*margin-top: 5px;*/
    /*margin-left: 20px;*/
    /*border-radius: 20px;*/
    /*height:28px;*/
    line-height: 28px;


}
#tdl1{
    margin-top: 30px;
    margin-left: 10px;
    color: black;
    background-color: white;
    text-align: center;
    /*box-shadow: 5px 10px;*/
}


.crght{
    margin-top: 450px;
    text-align: center;
    color: lightgrey;
}
.sidenav-trigger{
    margin-top: 15px;
    margin-left: 15px;

}

