
#login{
    /*border: 1px solid black;*/
    /*background-color: lightblue;*/
    /*padding-top: 10px;*/
    /*padding-right: 10px;*/
    /*padding-bottom: 10px;*/
    /*padding-left: 10px;*/
    /*margin-top: 100px;*/
    /*margin-bottom: 100px;*/
    /*margin-right: 150px;*/
    /*margin-left: 80px;*/
    /*width:700px;*/
    /*height: 200px;*/

    /*height: 450px;*/



    text-align: center;
}
#login input{
    margin: 1em 0;
}
#loginn{
    position: absolute;
    bottom: 0px;
}
#button {
    color: white;
}
#upper {
    color: black;
}
/*body {*/
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
  /*}*/

  /*main {*/
    /*flex: 1 0 auto;*/
  /*}*/
footer{
    height: 150px;
}
body{
    background-color: #e2eaef;
}
#tabs_todo{
    color:#1b5e20;

}
.table_title{
    font-size: 24px;
    /*border-bottom: white;*/
    /*border-radius:50px;*/
     /*border-bottom: 1px solid;*/
     border-bottom: 1px solid white;
    margin-bottom:1px;

}
.table_desc{
    font-size:18px;
}
/*.table_due{*/
    /*border-style: solid;*/
    /*border-bottom-color: currentColor;*/
    /*border-radius: 100px;*/
/*}*/
/*.table_created{*/
    /*border-style: solid;*/
    /*border-radius: 100px;*/
/*}*/
#completedbtn{
    justify-content: center;
    /*border-style: solid;*/
    /*position: absolute;*/
    /*top: 50%;*/
    width: 100px;
    height: 40px;
}
#ftext{
    text-align: center;
}
.wrapper {
    text-align: center;
}
#filter_date{
    width: auto;
    align-content: center;
}
dues{
    text-align: center;
}

.wrap {
    width: 100%;
}

.floatleft {
    float:left;
    width: 20%;
    background-color: #1b5e20 ;
    height: 710px;
}

.floatright {
float: right;
    background-color:  #e2eaef;
    height: 710px;
    width: 80%;
}
#tdp{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    /*color: white;*/
    font-size: medium;
    background-color: white;
    color: white;
}
.lg{
    color: white;
    font-size:larger;
}
#btnn{
    color: white;
    text-align: center;
    background-color: black;
    /*margin: 6px 8px;*/
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 20px;
    height:28px;
    line-height: 28px;


}
#tdl{
    margin-top: 20px;
    margin-left: 30px;
    color: black;
    background-color: white;
    /*box-shadow: 5px 10px;*/
}

.crght{
    margin-top: 450px;
    text-align: center;
    color: white;
}
/*#date.datepicker{*/
    /*width: 400px;*/
/*}*/
/*datepicker*/
/*{*/
    /*.ui-datepicker {font-size:9pt !important }*/
/*}*/